footer.footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 25px;
    background-color: #ffffff;
    box-shadow: var(--shadow);
}

.socials {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.youtube {
    color: #FF0000;
}

.twitter {
    color: #1DA1F2;
}

.instagram {
    color: #E1306C;
}
